.alumini {
    padding: 10px 10px 10px 60px;
    background-color: #efefef;
    min-width: 400px;
    max-width: 400px;
    margin: 30px;
    position: relative;
    margin-top: 70px;
}

.alumini a {
    text-decoration: none;
    color: #000;
}

.id-card img {
    position: absolute;
    top: 15%;
    left: calc(-15%);
    border: 10px solid #fff;
}

@media (max-width: 660px) {
    .alumini {
        padding: 60px 10px 10px 10px;
    }

    .id-card img {
        top: -70px;
        position: absolute;
        left: calc(35%);
        border-radius: 150px 150px 0 0;
        border: 10px solid #fff;
        border-radius: 150px 150px 0 0;
    }
}

.id-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;

}

.alumini__name_designation>h3 {
    font-size: 20px;
    color: blue;
    text-align: center;
}

.alumini__name_designation span {
    font-size: 12px;
    color: red;

}

blockquote {
    font-size: 15px;
    line-height: 30px;
    text-align: center;
}

.alumini:hover {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s;
}

.alumini__name_designation {
    display: flex;
    flex-direction: column;
}