::placeholder {
    text-align: center;
}

.apply__inputs> ::-webkit-input-placeholder {
    text-align: center;
    color: white;
}

.apply {
    background-image: url("https://raw.githubusercontent.com/hareesh-r/comebackalums2.0/master/src/image/3255338.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.apply__inputs {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 30px;
}

.apply__inputs input {
    border: none;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    color: white;
    outline-width: 0px;
}

.apply__inputs input:hover {
    background-color: black;
}

.apply__inputs input:focus {
    background-color: black;
}

.apply__inputs button {
    padding: 10px;
    margin: 10px;
    background-color: red;
    border-radius: 999px;
    width: 150px;
}

.apply__inputs button:hover {
    background-color: rgb(75, 240, 75);
}

@media only screen and (max-width: 768px) {
    .apply {
        background-image: url("https://raw.githubusercontent.com/hareesh-r/comebackalums2.0/master/src/image/3255337.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .apply__inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    form h1,
    form h3 {
        text-align: center;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 999px;
        padding: 10px;
    }
}

.apply h3,
.apply h1 {
    margin: 40px;
    color: black;
}