.login {
    display: grid;
    place-items: center;
    height: 100vh;
}

.login>button {
    top: -50%;
    width: 80%;
    background-color: red;
    color: white;
    font-weight: 700;
    font-size: 25px;
    border-radius: 999px;
}

.login>button:hover {
    background-color: white;
    color: red;
}
.login img{
    width: 32px;
}
.login__logo img {
    object-fit: contain;
    height: 200px;
    width: 200px;
    margin-left: 17%;
}

.login>div>h1 {
    font-size: 4rem;
    font-weight: 600;
    color: red;
}